<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h2>New Zealand</h2>
            <img class="img2" src="/public/images/bridalVeilFalls.jpg" alt="Bridal Veil Falls"
            <p>New Zealand is a peacefull country.</p>
            <p><a href="auckland">Auckland</a> is the commercial hub of New Zealand.</p>
            <p style="color: #23086f">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillium dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </body>
</html>